BasedOnStyle: Google
Language: C
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
BreakStringLiterals: true
ColumnLimit: 80
ConstructorInitializerIndentWidth: 0
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpacesInCStyleCastParentheses: false
UseTab: Never
